/* rem and em do NOT depend on html font-size in media queries! 
Instead, 1 rem = 1em = 16px */

/***************************/
/* BELOW 1344px (smaller dekstops) -> 86 * 16 */
/***************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/***************************/
/* BELOW 1200px (Landscape Tablets) -> 86 * 16 */
/***************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px = 0,5625 * 100 = 56.25% */
    font-size: 56.25%;
  }

  /* setting below, we assume 1rem is still 10px in size */

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .testimonial-container {
    padding: 9.6rem 3.2rem;
  }
}

/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
